
/* ***************************
 *  header
 * ***************************/

#header {
    background-color: black;
    background-color: #83BDD9;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
    margin: 0;
    color: white;
    height: 50px;

    position: -webkit-sticky;
    position: sticky;
    top: 0px; 
}

#header a {
    display: block;
    border-radius: 4px;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
}

ul#header--horizon  {
    display: flex;
    flex-flow: row;

    margin: 0;
    padding: 6px;
    list-style-type: none;
}

ul#header--vertical {
    display: flex;
    flex-flow: column;

    margin: 0;
    padding: 6px;
    list-style-type: none;
}

a.header__link--hover:hover {
    background-color: #8cae47;
}

li.header__menu {
    display: none;
}

li.header__menu--right {
    margin-left: auto;
}

li.header__hamburger  {
    margin-left: auto;
}

.header__hamburger__icon {
    cursor: pointer;
    transition: all 0.03s ease-out 0s;
    z-index: 1000;
}



/* 大きい画面 */
@media only screen and (min-width:550px) {
    #header {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    }
    #header  ul {
        display: flex;
        /*flex-flow: row;*/
        flex-flow: row;

        margin: 0;
        padding: 6px;
        list-style-type: none;
    }

    li.header__menu {
        display: inline-flex;
    }

    li.header__hamburger  {
        display: none;
    }
}


#header--vertical {
    background-color: black;
    background-color: #83BDD9;
    /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px;
    /*メニュー内左右上下余白*/
    position: fixed;
    right: -200px;
    /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.2s ease 0s;
    /*0.3s はアニメーションにかかる時間*/
    width: 200px;
    /*メニュー横幅*/
    z-index: 1000;
}


#header__menu__background {
    background-color: #333;
    /*黒背景*/
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.1s ease 0s;
    /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;
}

#header__menu__checkbox:checked~#header--vertical {
    transform: translate(-200px);
    /*メニュー本体横幅 width と合わせる*/
}

#header__menu__checkbox:checked~#header__menu__background {
    opacity: 0.5;
    z-index: 999;
    display: block;
}


#header__breadcrumb {
    display: none;
    height: 20px;
}

#header__shadow {
    background-color: #83BDD9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);

    position: -webkit-sticky;
    position: sticky;
    top: 49px; 
}


@media only screen and (min-width:550px) {

    #header__breadcrumb {
        display: block;
        background-color: #83BDD9;
        border-top: solid 1px gray; 
        border-top: solid 1px #FBC6C6; 

        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
        /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);*/
    }



    #header__breadcrumb__ul {
        display: inline-flex;
    }

    .header__breadcrumb__list {
        font-size: 0.5em;
    }
    .header__breadcrumb__link {
        text-decoration: none;
        color: ghostwhite;
    }

    li.header__breadcrumb__list:after{/* >を表示*/
      content: '>';
      padding: 0 3px;
      color: ghostwhite;
    }
    li.header__breadcrumb__list:last-child:after{
      content: '';
    }

    .header__breadcrumb__list a:hover {
        text-decoration: underline;
    }

    #header__breadcrumb__ul li:first-child {
        margin-left: 5px;
    }

    #header__breadcrumb__ul li:first-child a:before{/*家アイコン*/
      font-family: FontAwesome;
      content: '\f015';
      font-weight: normal;
      font-size: 1.1em;
      color: #FBC6C6;
    }


    #header__breadcrumb__wrapper {
        width: 80%;
        margin: 0 auto;  

        display: flex;
        flex-direction: row;
    }

    #header__breadcrumb__nav {
        width: 15%;
    }
    #header__breadcrumb__main {
        width: 60%;
    }
    #header__breadcrumb__aside {
        width: 25%;
    }
}





/* ***************************
 * main
 * ***************************/

#main__wrapper {
    padding: 10px 10px;

    background-color: whitesmoke;
}

#main-contents {
    display: flex;           /* flexコンテナ化 */
    flex-direction: column;  /* ボックスを縦並びに */
    background-color: ivory;
    background-color: ghostwhite;
    padding: 10px;
    margin: 0 auto;  
}

#main { 
    order: 1;
    background-color: white;
}

#aside {
    order: 2;
}

#nav {
    order: 3;
}

@media only screen and (min-width:550px) {
    #main-contents {
        flex-direction: row;  /* ボックスを縦並びに */
        width: 80%;
    }

    #main {
        order: 2;
        width: 60%; 
        min-width: 550px;
    }

    #aside {
        order: 3;
        width: 25%; 
        min-width: 250px;
    }

    #nav {
        order: 1;
        width: 15%; 
    }
}

.main__contents {
    padding: 0.5em 1em;
    margin: 1em 1em;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}


/*** *********************************************************
 *** ***  aside
 *** *********************************************************/

.ranking {
    margin: 5px 0px;
    background-color: white;
    padding: 10px 0px;

}

.ranking__item__wrapper {
    display: flex;
    flex-flow: row;
    height: 70px;

    margin: 2px 0;
    background: #f4f4f4;
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.ranking__item__info {
    padding: 5px;
}

.ranking__item__thumbnail {
    margin-left: auto;
}


.ranking__item__ranking {
    font-size: 0.8em;
}
.ranking__item__title {
    font-size: 0.8em;
    margin-top: auto;
    margin-bottom: auto;
}


img.thumbnail {
    width: 60px;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
}

h3.ranking__name:first-letter {
    font-size: 1.5em;
    color: #7172ac;
}

@media only screen and (min-width:550px) {
    .ranking {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 100px; 
    }
}


/*
h3.ranking__name {
    position: relative;
    padding: 0.6em;
    background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    border-radius: 7px;
}

h3.ranking__name:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #ffebbe;
    width: 0;
    height: 0;
}
*/
h3.ranking__name {
color: #6cb4e4;
padding: 0.25em;
border-top: solid 2px #6cb4e4;
border-bottom: solid 2px #6cb4e4;
background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}


/* ***************************
 * footer
 * ***************************/


#footer__wrapper {
    background-color: #83BDD9;
}

#footer {
    display: flex;           /* flexコンテナ化 */
    flex-direction: column;  /* ボックスを縦並びに */
    padding: 10px;
    font-size: 0.8em;
    margin: 0 auto;  
}

#footer__logo {
    order: 3;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#media-info {
    order: 2;
    padding: 10px;
}

#site-map {
    order: 1;
    padding: 10px;
}

img.logo {
    width: 100%;
    object-fit: contain;
}


@media only screen and (min-width:550px) {
    #footer {
        flex-direction: row;  /* ボックスを縦並びに */
        min-height: 200px; 
        width: 80%;
    }

    #footer__logo {
        order: 1;
        width: 30%; 
    }

    #media-info {
        order: 2;
        width: 35%; 
    }

    #site-map {
        order: 3;
        width: 35%; 
    }
}




ul.footer__list {
    padding: 6px;
    margin:0px;
    margin-left: 20px;
    list-style-type: none;
}

li.footer__list__list {
    margin: 6px;
}

ul.footer__list a {
    text-decoration: none;
    color: gray;
}

.footer__list__title {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#last-footer {
    padding: 5px;
    text-align: center; 
}

#last-footer {
    color: gray;
    font-size: 0.8em;
}
