
/* ***************************
 *  header
 * ***************************/

#header {
    background-color: black;
    margin: 0;
    color: white;
}

#header a {
    display: block;
    border-radius: 4px;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
}

ul#header--horizon  {
    display: flex;
    flex-flow: row;

    margin: 0;
    padding: 6px;
    list-style-type: none;
}

ul#header--vertical {
    display: flex;
    flex-flow: column;

    margin: 0;
    padding: 6px;
    list-style-type: none;
}

a.header__link--hover:hover {
    background-color: #8cae47;
}

li.header__menu {
    display: none;
}

li.header__menu--right {
    margin-left: auto;
}

li.header__hamburger  {
    margin-left: auto;
}

.header__hamburger__icon {
    cursor: pointer;
    transition: all 0.03s ease-out 0s;
    z-index: 1000;
}



/* 大きい画面 */
@media only screen and (min-width:550px) {
    #header  ul {
        display: flex;
        /*flex-flow: row;*/
        flex-flow: row;

        margin: 0;
        padding: 6px;
        list-style-type: none;
    }

    li.header__menu {
        display: inline-flex;
    }

    li.header__hamburger  {
        display: none;
    }
}


#ham-menu {
    background-color: black;
    /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px;
    /*メニュー内左右上下余白*/
    position: fixed;
    right: -300px;
    /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.2s ease 0s;
    /*0.3s はアニメーションにかかる時間*/
    width: 300px;
    /*メニュー横幅*/
    z-index: 1000;
}

#menu-background {
    background-color: #333;
    /*黒背景*/
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.1s ease 0s;
    /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;
}

#header__menu__checkbox:checked~#ham-menu, #header__menu__checkbox:checked~#menu-icon {
    transform: translate(-300px);
    /*メニュー本体横幅 width と合わせる*/
}

#header__menu__checkbox:checked~#menu-background {
    opacity: 0.5;
    z-index: 999;
    display: block;
}


/* ***************************
 *
 *
 * ***************************/

#main {
    background-color: azure;
}

#aside {
    background-color: bisque;
}

#nav {
    background-color: beige;
}


#footer {
    background-color: darkseagreen;
}


/*
a.c-header--hover:hover {
background-color: #8cae47;
}
 */




/*
a.c-header__link {
display: block;
border-radius: 4px;
padding: 12px 24px;
color: white;
text-decoration: none;
}
 */


nav li.login {
    margin-left: auto;
}

nav li.hamburger {
    /*align-self: flex-end;*/
    margin-left: auto;
}


@media only screen and (min-width:550px) {
    nav ul {
        display: flex;
        /*flex-flow: row;*/
        flex-flow: row;

        margin: 0;
        padding: 6px;
        list-style-type: none;
    }
    nav li.hamburger {
        display: none;
    }

    li.menu {
        display: inline-flex;
    }
}
