

/* ***************************
 *  common
 * ***************************/
.global-container {
    display: flex;
    flex-flow: row;
    height: 100%;
}

@media only screen and (min-width:550px) {

    .global-container {
        width: 1000px;
        margin: 0 auto;  
    }
    .wideview {
        background-color: white;
    }

}

/* ***************************
 *  header
 * ***************************/

#header {
    background-color: black;
    background-color: #83BDD9;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
    margin: 0;
    color: white;
    height: 50px;

    position: -webkit-sticky;
    position: sticky;
    top: 0px; 
}

#header a {
    display: block;
    border-radius: 4px;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
}


#header__logo {
    margin: auto;
}
#header__horizon__center {
    display: flex;
    flex: 2;
}

#header--horizon--left  {
    display: flex;
    flex-flow: row;
    flex: 1;
    justify-self : flex-start;
    /*
    margin-right: auto;
    */
}

#header--horizon--right  {
    display: flex;
    flex: 1;
    flex-flow: row;

    justify-self : flex-end;
    /*
    margin-left: auto;
    */

    /*margin: 0;*/
    /*
    margin-left: auto;
    */


    /*
    padding: 6px;
    list-style-type: none;
    */
}

.flex-right {
  display: flex;
  margin-left: auto;

  flex-direction: row;
  justify-self: flex-end;
}



#header--vertical {
    display: flex;
    flex-flow: column;

    margin: 0;
    padding: 6px;
    list-style-type: none;
}



.header__item {
    padding: auto 24px;
    height: 100%;
    display: flex;

    align-items: center;

}


input.search_icon {
    height: 50px;
}

.form__textbox {
	width: 100px;
	padding: 5px 8px;
	border-radius: 10px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	background-image: none;
	background-color: #ddd;
	background-color: snow;
	font-size: 8px;
}
input.form__textbox:focus {
    outline: none;
}

button.form__button{
  padding: 5px 8px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-image: none;
  background-color: #83BDD9;
  font-size: 17px;
  color: #fff;
}
.btn-submit:active{
  border-bottom: none;
  background-color: #888;
}
 

.header__item__element {
}



.header__hamburger__icon {
    transition: all 0.03s ease-out 0s;
    z-index: 1000;
}


.pc-only-flex{
    display: none;
}


/* 大きい画面 */
@media only screen and (min-width:550px) {
    #header {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    }
    #header  ul {
        display: flex;
        /*flex-flow: row;*/
        flex-flow: row;

        margin: 0;
        list-style-type: none;
    }

    #header__container {
        width: 1000px;
        margin: 0 auto;  
    }

    li.header__menu {
        display: inline-flex;
    }

    li.header__hamburger  {
        display: none;
    }

    .pc-only-flex {
        display: flex;
    }

}


#header--vertical {
    background-color: black;
    background-color: #83BDD9;
    /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px;
    /*メニュー内左右上下余白*/
    position: fixed;
    overflow: auto;

    right: -200px;
    /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.2s ease 0s;
    /*0.3s はアニメーションにかかる時間*/
    width: 200px;
    /*メニュー横幅*/
    z-index: 1000;
}


#header__menu__background {
    background-color: #333;
    /*黒背景*/
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.1s ease 0s;
    /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;
}

#header__menu__checkbox:checked~#header--vertical {
    transform: translate(-200px);
    /*メニュー本体横幅 width と合わせる*/
}

#header__menu__checkbox:checked~#header__menu__background {
    opacity: 0.5;
    z-index: 999;
    display: block;
}



#header__breadcrumb {
    display: none;
}

#header__shadow {
    background-color: #83BDD9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);

    position: -webkit-sticky;
    position: sticky;
    top: 49px; 
}


@media only screen and (min-width:550px) {

    #header__shadow {
        position: -webkit-sticky;
        position: sticky;
        top: 50px; 
        height:1px;
    }

    #header__breadcrumb {
        height: 20px;
        display: block;
        background-color: #83BDD9;
        border-top: solid 1px gray; 
        border-top: solid 1px #FBC6C6; 

        font-size: 0.5em;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);

        text-decoration: none;
        color: ghostwhite;
        /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);*/
    }

    #header__breadcrumb__ul {
        display: flex;
        align-items: center;
        text-align: middle;
        margin: auto 0; 
    }



    #header__breadcrumb__ul li:nth-child(n+2)::before{
          content:'>';
            margin: 0 5px;
        }

    #header__breadcrumb__ul li:first-child {
        margin-left: 5px;
    }

    #header__breadcrumb__ul li:first-child a:before{/*家アイコン*/
        font-family: FontAwesome;
        content: '\f015';
        font-weight: normal;
        font-size: 1.1em;
        color: #FBC6C6;
    }


    #header__breadcrumb__ul a {
        text-decoration: none;
        color: ghostwhite;
    }

    #header__breadcrumb__ul a:hover {
        text-decoration: underline;
    }

}





/* ***************************
 * main
 * ***************************/


main {
    margin-top: 1px;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 10px;
}
#main__container { 
    display: flex;           
    flex-direction: column;  
    margin: 40px auto;
}

#article {
    order: 1;
    flex-shrink: 1;
    margin-bottom:  20px;
}

#aside {
    order: 2;
    flex-shrink: 2;
    margin-left: 15px;
}

/*
#nav {
    order: 3;
    flex-shrink: 4;
}
*/

#article__index__arthor {
    display: flex;
    flex-direction: row;  
}

#article__index__arthor__icon {
    width:50px;
    align-self: center;
}

#article__index__arthor__name {
    flex: 1;
    align-self: center;
}
#article__index__arthor__date {
    flex: 1;
    align-self: center;
}


@media only screen and (min-width:550px) {
    #article__index {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #main__container {
        flex-direction: row;  /* ボックスを縦並びに */
        width: 1000px;
    }

    #article {
        order: 2;
        width: 70%; 
        min-width: 550px;
    }

    #aside {
        order: 3;
        width: 30%; 
        min-width: 250px;
    }


    .sp-only {
        display: none;
    }
}

 .frame {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}


#main__contents {
    padding: 0.5em 1em;
    margin: 0em 1em;
    color: #6091d3;/*文字色*/
    background: #FFF;
    /*
    border: solid 3px #6091d3;
    */
    border-radius: 10px;/*角の丸み*/
}


#article__index {
    background-color: #FFF;
}
#article__index__title {
    font-size: 1.5em;
    font-style: bold;
    margin: 10px auto;
}
@media only screen and (min-width:550px) {
    #article__index {
        width: 1000px;
        margin: 0 auto;
    }
}

/*** *********************************************************
 *** ***  aside
 *** *********************************************************/

.ranking {
    background: #fff;

    border-radius: 10px 10px 10px 10px;
}

.ranking__item {

    display: flex;
    flex-flow: row;
    height: 70px;
    padding-left: 0.2em;
    padding: 6px 0;

}

.ranking__item__info {
    padding: 5px;
}

.ranking__item ~ .ranking__item {
    border-top: dashed 2px #6091d3;
}

.ranking__item__thumbnail {
    margin-left: auto;
}


.ranking__item__ranking {
    font-size: 0.8em;
}
.ranking__item__title {
    font-size: 0.8em;
    margin-top: auto;
    margin-bottom: auto;
}


img.thumbnail {
    width: 60px;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
}


@media only screen and (min-width:550px) {
    
    .ranking {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 70px; 
    }
}


h3.ranking__title {
    background: #eff4ff;
    font-size: 15px;
    font-weight: bold;
    color: #6091d3;
    border-radius: 0 10px 10px 0;
    padding-top: 5px;
    line-height: 25px;
    padding-bottom : 5px;
}




/* ***************************
 * footer
 * ***************************/


#footer__wrapper {
    background-color: #83BDD9;
}

#footer {
    display: flex;           /* flexコンテナ化 */
    flex-direction: column;  /* ボックスを縦並びに */
    padding: 10px;
    font-size: 0.8em;
    margin: 0 auto;  
}

#footer__logo {
    order: 3;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#media-info {
    order: 2;
    padding: 10px;
}

#site-map {
    order: 1;
    padding: 10px;
}

img.logo {
    width: 100%;
    object-fit: contain;
}


@media only screen and (min-width:550px) {
    #footer {
        flex-direction: row;  /* ボックスを縦並びに */
        min-height: 200px; 
        width: 80%;
    }

    #footer__logo {
        order: 1;
        width: 30%; 
    }

    #media-info {
        order: 2;
        width: 35%; 
    }

    #site-map {
        order: 3;
        width: 35%; 
    }
}




ul.footer__list {
    padding: 6px;
    margin:0px;
    margin-left: 20px;
    list-style-type: none;
}

li.footer__list__list {
    margin: 6px;
}

ul.footer__list a {
    text-decoration: none;
    color: gray;
}

.footer__list__title {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#last-footer {
    padding: 5px;
    text-align: center; 
}

#last-footer {
    color: gray;
    font-size: 0.8em;
}
