#editor {
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

#upper {
    display: flex;
    flex-direction: row;
    /*flex-basis: 80%; */
    width: 100vw;
    height: 80vh;
}

#canvas {
    /*
    width: 80vw;
    height: 45vw
    */

}

#slides {
    display: flex;
    overflow-x: auto;
    width: 85vw;
}
#new_slide {
    width: 15vw;
    background-color: gray;
    color: snow;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#new_slide p {
    font-size: 4em;
}

.slide {
    margin-left: 10px;
    cursor: move;
    padding: 10px;
}
.slide.over {
  border: 3px dashed #000;
}

.slide_thumbnail {
    display: block;
}

/*
img.slide_thumbnail {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
*/

#leftbar {
    width: 20vw;
    background-color: gray;
}

#screen {
    width: 80vw;
    background-color: skyblue;
}

#downer {
    display: flex;
    flex-direction: row;
    background-color: pink;
    width: 100vw;
    height: 20vh;
}


#container {
    width: 100%;
    margin:0 ;
}

body {
    text-align:center;

}

h1 {
    font-size:36px;
    font-family: Arial, sans-serif;
    font-weight:bold;
}


#canvas {
    border:1px solid gray;
    /*
    width: 100%;
    height: 100%;
    */
}

#aaa {
    overflow:hidden;
    margin-top:20px;
}

#bbb {
    float: left;
    width: 750px;
    margin-left: -20px;
}

#ccc {
    margin-left: 600px;
    width: 500px;
    height: 500px;
    cursor: pointer;
}


li {
    width: 30px;
    height: 30px;
    display:inline-block;

}

